// @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');

@font-face {
  font-family: "RobotoSlab";
  src: url("../../assets/fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}