.banner {
  position: relative;
  font-size: 0;

  // Parallax effect
  background-image: url('../../public/img/banner_bg.jpg');
  height: 95vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__content {
  width: 80%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.banner__title {
  font-weight: 700;
  font-size: 5rem;
  text-transform: uppercase;
  color: #fff;
}

.banner__info {
  color: #fff;
  font-weight: 300;
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.banner__btn {
  cursor: pointer;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 2.6rem;
  padding: .4em 2.15em;
  color: #46a651;
  background-color: #fcfcfc;
  border-radius: 2em;
  border-style: outset;
  border: 6px solid rgba(0, 0, 0, 0.07);
  outline: none;
  transition: border-color .2s ease-out;
  text-decoration: none;

  &:hover {
    border-color: rgba(0, 0, 0, .2);
  }
}

@media (min-width: 780px) {
  .banner__info {
    margin-bottom: 30px;
  }
}

@media (min-width: 968px) {
  .banner__info {
    margin-bottom: 50px;
  }
}

@media (min-width: 1030px) {
  .banner__info {
    margin-bottom: 60px;
  }
}